/* Navbar */
.navbar {
  background-color: #222;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Home */
.home {
  padding: 10px;
  text-align: center;
}

.subtitle {
  color: #555;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* Categories */
.categories {
  position: sticky;
  top: 95px; /* height of navbar */
  background-color: white;
  z-index: 900;
  border-bottom: 1px solid #ddd;
}

.categories ul {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  list-style: none;
  margin-top: 1px;
}

.categories li {
  background: #f0f0f0;
  padding: 8px 14px;
  border-radius: 20px;
}

.categories li:hover {
  background: #222;
  color: white;
  cursor: pointer;
}

/* Books */
.book-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.book-card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.book-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.details-btn {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background-color: #222;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
